In [1]:
print("Hello world!")
print(10)
print(7.5)
a = "opung"

Hello world!
10
7.5

In [1]:
saya = "satria"

In [2]:
print("hellow" + "satria")

hellowsatria

In [3]:
print('Halo nama saya ' + str(20) * 3)

Halo nama saya 202020

In [4]:
teks = "halo, nama saya, budi"
x = teks.split(", ")
print(x)

['halo', 'nama saya', 'budi']

In [5]:
a = "HaLo"
b = "halo"

print(a.islower())
print(b.islower())

False
True

In [6]:
teks = "Halo semuanya, disini saya bersama dengan budi semuanya"
x = teks.count("semuanya")
print(x)

2

In [7]:
a = 5 + 2 * 3
a

11

In [8]:
print( 30 * 2 + 10 - (21  // 5) )

66

In [9]:
x = int("12")
y = int(12.5)

print(x)
print(y)

12
12

In [10]:
x = pow(3, 3) # 3 pangkat 3
y = pow(3, -3) # 3 pangkat -3

print(x)
print(y)

27
0.037037037037037035

In [2]:
x = str(12)
y = str(12.5)

print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [3]:
x,y = 100,200
result = x + y
print(result)

300

In [4]:
a = 10
a += 200
a -= 100
a = a * 2

print(a)

220

In [5]:
5 // 2

2

In [6]:
a = 200
b = 300
d = 0

e = b // a
c = e ** b * d
print(c)

0

In [7]:
print('Result of 10 > 5: ', 10 > 5)
print('Result of 5 < 1: ', 5 < 1)
print('Result of 5 == 5', 5 == 5)
print('Result of 5 != 5', 5 != 5)
print("Result of 'a' > 'b': ", 'a' > 'b')

Result of 10 > 5:  True
Result of 5 < 1:  False
Result of 5 == 5 True
Result of 5 != 5 False
Result of 'a' > 'b':  False

In [9]:
n = int(input('Masukan sebuah integer: '))
print('Apakah integer tersebut genap?', n % 2 == 0)

Apakah integer tersebut genap? True

In [10]:
a = 5
b = 5.0
print(a == b)

True

In [11]:
a = 'abc'
b = 'ABC'
c = 'abC-abc-aBc'

print( a is b )
print( a in c )

False
True

In [12]:
X = False
Y = True
Z = True

print( X or Y and Z or X )

True

In [13]:
for i in range(5):
    print("satria")

satria
satria
satria
satria
satria

In [15]:
import time
i = int(input(f"Enter the value for i: "))
while i < 10:
    print("satria")
    time.sleep(1)
    i +=1

satria
satria
satria
satria
satria
satria

In [16]:
for x in range(1,5):
  print(x)

1
2
3
4

In [17]:
y = 10

for x in range(1,y):
    if x % 2 == 0:
        if x >= 4:
            print(x)

4
6
8

In [18]:
i = 2
while i < 5:
    print(i)
    i += 1

2
3
4

In [20]:
n_list = [40,10,30,20]
n = n_list.pop()
print(n)

20

In [21]:
a = (1,2,3,4,5)
a[1] = 100
print(a)

TypeError: 'tuple' object does not support item assignment

In [22]:
a = [1,2,3,4]
b = a*2
print(b)

[1, 2, 3, 4, 1, 2, 3, 4]

In [23]:
tup1 = (20,11,34,50) 
print(tup1.count(100))

0

In [24]:
list1 = [1,2,3,4]
list2 = [6,7]
print(list1 + list2)

[1, 2, 3, 4, 6, 7]